<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title> {$name} </title>

        <!-- <link rel="stylesheet" href="{$site}media/styles/reset.css#" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{$site}media/styles/applayout.css#" type="text/css" media="screen"/>

        <link rel="stylesheet" href="{$site}media/styles/blog.css#" type="text/css" media="screen"/>-->
        {loop="styles"}
        <link rel="stylesheet" href="{$value}#" type="text/css" media="screen"/>
        {/loop}

    </head>
    <body>
        <div id="wrapper">
            <div id="notification-tier">

            </div>
            <div id="header-tier">
                <div id="display-card">
                    <div id="user-image">
                        <img src="{$site}media/images/app/jaison.png#" alt="jaison_justus" />
                    </div>
                    <div id="user-name">
                        <h1>{$name}</h1>

                    </div>
                    <div id="user-details-primary">
                        <span class="global-message-white">jaison.justus.lp@gmail.com</span><br/>
                        <span class="global-message-white">Trivandrum, India</span>
                        <span class="global-message-white">Contact: 9495195363</span>
                        <br/>
                        <span class="global-message-white">Total Exchanges - 102, Blog Post - 10, Friends - 241</span>
                        <div id="user-stat">
                            <img src="{$site}media/images/app/gold_member.png#" alt="gold"/>
                            <span class="short-message">
                                <p>Reputiation</p>
                                <h2>102k</h2>
                            </span>
                            <span  class="short-message">
                                <p>Popularity</p>
                                <h2>87%</h2>
                            </span>
                        </div>
                    </div>
                    <div id="user-details-secondry">
                        <h2>Badges</h2>

                        <span class="badge"> <div class="badge-content">Collector</div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Helper </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Journalist </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Enthusiast </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Gamer </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Penny Black </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Band of Brothers </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Enlighten </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Popular </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Ruke </div><div class="badge-arrow"></div> </span>
                        <span class="badge"> <div class="badge-content">Bishop </div><div class="badge-arrow"></div> </span>
                    </div>
                </div>
            </div>
            <div id="content-tier">
                <div id="blog-posts">
                    {loop="posts"}
                    <div class="post">
                        <h2>
                            {$value.title}

                        </h2>
                        
                        <p>
                            {$value.desc}
                        </p>
                        
                        {loop="$value.tag"}
                        <span class="global-message-black">
                            {$value}
                        </span>
                        {/loop}
                    </div>
                    <hr/>
                    {/loop}
                </div>
            </div>
        </div>



        <!-- JAVASCRIPT LOADING -->
        <script type="text/javascript" src="{$site}media/scripts/vendor/jquery/jquery-1.6.js#"></script>
        <script type="text/javascript" src="{$site}media/scripts/vendor/ckeditor/ckeditor.js#"></script>
        <script type="text/javascript">
            CKEDITOR.replace( 'blog[editor]', {
                height:200
            });
            
            $(document).ready(function()    {
                $('#test').click(function() {
                    alert($('#blogeditor').val);
                });
            });
        </script>
    </body>
</html>

<!--  <span id="global-message-black">Trivandrum, India</span> -->