/* 
    Document   : applayout
    Created on : Sep 4, 2011, 10:48:08 AM
    Author     : Jaison Justus
    Description: Layout for Application Pages
*/

body    {
    background-color: white;
    background-image: url(../images/app/background-strip.png);
}

/* Main Layout */
#wrapper    {
    width: 900px;
    height: auto;
    margin: auto;
}

#notification-tier   {
    width: 900px;
    height: 49px;
}

#header-tier {
    width: 900px;
    height: 200px;
}

#content-tier   {
    padding-top: 30px;
    width:100%;
    heigt:100%;
}

#footer-tier    {

}



#content-tier h1    {
    color:#171817;
    font:bold 25px Arial;
    margin: 10px 0px 10px 0px;
}

/* Other Items*/
#display-card   {
    width: 860px;
    height: 160px;
    padding: 20px 20px 20px 20px;
}

#display-card #user-image   {
    width: 160px;
    height: 160px;
    margin:2px 10px 0px 0px;
    float: left;
}

#display-card #user-name {
    width:690px;
    height: 30px;
    float:left;
    margin:2px 0px 0px 0px;
}

#display-card #user-name h1{
    width:500px;
}

#display-card #user-details-primary {
    width:340px;
    height: 120px;
    margin:10px 10px 0px 0px;
    float: left;
}

#user-details-primary img   {
    float:left;
    margin:2px 15px 0px 0px;
}

#display-card #user-details-primary p{
    margin:3px 0px 0px 0px;
    font: 12px Arial;
    color:white;
}

#display-card #user-details-primary h2{
    margin:3px 0px 0px 0px;
    font: 30px Arial;
    color:white;
}

#display-card #user-details-secondry    {
    width:340px;
    height: 120px;
    margin:10px 0px 0px 0px;
    float: left;
}


#display-card #user-details-secondry h2    {
    margin:3px 0px 10px 0px;
    font: 15px Arial;
    color:white;
}

#user-stat {
    margin-top: 15px;
}

.short-message  {
    float:left;
    margin-right: 15px;
}
