/* 
    Document   : test.css
    Created on : Sep 22, 2011, 12:30:32 PM
    Author     : jaison.justus
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
ul,ol,li    {
    padding:0;
    margin:0;
    border:0;
}

body    {
    background-image:url(../images/background-strip.png);
    background-repeat: repeat-x;
    background-color: #1f2021;
    margin:0;
    padding:0;
    border:0;
}

h1  {
    color:white;
    font:20px Arial;
}

#wrapper    {
    background-color: #171817;
    width:500px;
    height: auto;
    margin:30px auto;
}

#header {
    background-color: #2d2d2c;
    width:480px;
    padding:10px 10px 10px 10px;
}

#header h1  {
    color:white;
    font:20px Arial;
}

#content    {
    width:480px;
    padding:10px 10px 10px 10px;
    background-color: #383838;
}

#content p  {
    font:13px Arial;
    color:#c6c6c2;
    line-height: 19px;
}

#gallery    {
    width: 100%;
    height:auto;
    margin-top:10px;
}

#gallery img    {
    padding:3px 3px 3px 3px;
    background-color:#bfc3c3;
}

#form-wrapper    {
    width:480px;
    padding:20px 20px 20px 20px;
    height:auto;
    background-color: #2e2d2d;
}

#form-wrapper ul{
    list-style: none;
}

#form-wrapper ul li{
    margin:20px 0px 20px 0px;    
}

#form-wrapper label {
    width:100px;
    font:16px Arial;
    float:left;
    color: white;
}

#form-wrapper input[type=text]   {
    width:200px;
    height:20px;
    font:16px Arial;
    float:rigt;
    color: #171817;
    border:0;
}

#form-wrapper input[type=password]   {
    width:200px;
    height:20px;
    font:16px Arial;
    float:left;
    color: #171817;
    border:0;
}
